.about-page {
    font-family: 'Poppins', sans-serif;
}

.landing-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-image: url('../../assets/coding.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.landing-section h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.landing-section p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.download-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #0056b3;
}

.section {
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin: 50px 0;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-image {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
}

.section-content {
    width: 60%;
}

.section:nth-child(odd) {
    flex-direction: row-reverse;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section p, .section ul {
    font-size: 1.2rem;
    line-height: 1.6;
}
