.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

/* Estilos globais para transição */
* {
  transition: background-color 0.5s ease, color 0.5s ease;
}